<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />

</head>

<body>
    <div>
        <h2>Course Evaluation</h2>
    </div>

    <table class="center">
        <tr>

            <td> <a href="/login">Log in</a> </td>
        </tr>
        <tr>

            <td> <a href="/signup">Sign up</a> </td>
        </tr>

        <tr>

            <td> <a href="/display">Display all students</a> </td>
        </tr>


        <tr>
            <td><a href="/viewAllComments">Display Comments by Students</a></td>
        </tr>

    </table>

</body>

</html>