<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="../../public/css/style.css">
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <div class="commit-form-header">
        <h2>Thank you
            <%= email %>
        </h2>
        <h3>We appretiate your comments:

        </h3>
    </div>

</body>

</html>